@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: rgba(228, 213, 213, 0);
    font-family: 'Poppins', sans-serif;
}
.header-container{
    margin-top: 0;
    width: 1000px;
    margin: 0 auto;
}
.h1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 80px;
    color: rgb(253, 237, 7);
    background-color: rgb(228, 213, 213, 0);
    text-shadow: 2px 2px rgb(33, 33, 34);
}
#p1 {
    text-align: center;
    text-justify: auto;
}
#search{
    text-align: center;
    display: block;
    width: 500px;
    margin: 0 auto;
}
.form{
    display: block;
    text-align: center;
}
form{
    display: inline-flex;
}

form button{
    float: left;
    width: 20%;
    padding: 10px;
    background: rgba(253, 237, 7, 0.721);
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
}
form button i {
    color: rgb(71, 67, 67);
}
hr { 
    width: 50%;
    display: block;
    margin: 1.5em auto 0.5em auto;
    border-style: inset;
    border-width: 2px;
  } 
.list-container {
    margin-top: 10px;
    display: block;
    margin: 0 auto;
    width: 1100px;
    border-radius: 5px;
}
#todo {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
#todo li{
    border: 1px solid rgb(77, 75, 75);
    width: 90%;
    margin: 0 auto;
    display: block;
    margin: 10px auto;
}
#todo li h3 {
    text-indent: 30px;
}
.description{
    margin-top: 0;
    text-indent: 15px;
    width: 90%;
}
.close {
    display: block;
    float: right;
    position: relative;
    bottom: 50px;
    right: 20px;
    border: 1px solid black;
    background-color: red;
}
#add{
    display: block;
    margin: 10px auto;
    width: 200px;
    padding: 10px;
    background: rgba(253, 237, 7, 0.721);
    border: 1px solid rgb(88, 88, 88);
    border-radius: 10px;
}
.blur {
    filter: blur(12px);
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
}
.hidden {
    display: none;
    z-index: 99;
    width: 50%;
    background: rgba(253, 237, 7, 0.76);
    margin: 0 auto;
    position: absolute;
    top: 100px;
    right: 350px;
    padding: 30px;
    border-radius: 5px;
}
.scale-in-center {
	-webkit-animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.addItem{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inputWrap{
    display: flex;
    flex-direction: column;
}
.inputWrap input {
    width: 400px;
}
.inputWrap label{
    text-indent: 20px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0;
}
#activity{
    font-size: 40px;
    text-shadow: none;
    color: rgb(32, 32, 32);
    text-align: center;
}
#centerForm{
    display: block;
    margin: 0 auto;
    width: 40%;
}
#submit{
    width: 30%;
    padding: 10px;
    background: white;
    color: rgb(32, 32, 32);
    border: none;
    box-shadow: 1px 1px gray;
    border-radius: 5px;
    margin-top: 10px;
}
.time-container{
    margin-left: 20px;
    text-indent: 20px;
}
.scale-out-center {
	-webkit-animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2021-5-18 17:51:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  
@-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }